body {
    * {
        text-align: center;
        line-height: 3em;
    }
}

.inline > * {
    display: inline-block;
}

#timer {
    width: 100%;
    background-color: rgb(221, 221, 221);
}
  
#progress {
    width: 0%;
    height: 30px;
    background-color: rgb(242, 255, 129);
}