body * {
  text-align: center;
  line-height: 3em;
}

.inline > * {
  display: inline-block;
}

#timer {
  width: 100%;
  background-color: #dddddd;
}

#progress {
  width: 0%;
  height: 30px;
  background-color: #f2ff81;
}
